@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --main_bg: rgb(39, 35, 37);
}
html,
body {
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--main_bg);
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
