:root {
    --main_bg: rgb(39, 35, 37);
    --border-color: rgba(255,255,255,0.797);
  }
  
div.teclado {
  position: absolute;
  bottom: 0.8rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  gap: 5px;
}


